/**********STYLES FOR DESKTOP************/
@media (min-width: 501px) {

    a, a:hover {
      color: #000;
      text-decoration: none;
    }

    p, li {
      font-size: 20px;
    }

    ul {
      list-style-type: none;
    }

    .container-fluid {
      display: flex;
      flex-direction: column;
    }
    #intro {
      background-color: #fff;
    }
    #number {
      background-color: #ffa;
      text-align: center;
    }
    #collatz-number {
      height: 50px;
      text-align: center;
      width: 400px;
    }
    #conjectureflow1 {
      background-color: orange;
      min-height: 800px;
    }
    #conjecture-array-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    #refresh-div {
      margin: 10px 0px 10px 0;
      padding-bottom: 50px;
      text-align: center;
    }
    .number-container {
      background-color: white;
      margin: 15px;
      min-height: 75px;
      text-align: center;
    }
    .refresh-button {
      text-align: center;
    }
}
/**********STYLES FOR MOBILE************/
@media (max-width: 500px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  #intro {
    background-color: red;
  }

  #number {
    background-color: blue;
  }

  #conjectureflow1 {
    background-color: purple;
  }

  #conjectureflow2 {
    background-color: orange
  }
}
